<div class="about-me">
  <div class="photo">
    <img src="../../assets/images/avatar.jpg" alt="avatar" id="avatar">
  </div>
  <div class="text-about">
    <h2>
      About me
    </h2>
    <div class="descriptionabout">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero libero consectetur culpa maiores architecto quibusdam, non
        earum ipsum quis in atque possimus, tenetur nostrum nulla ab dicta adipisci sint aut.
      </p>
<br>
      <p>
        Apple pie cookie icing marzipan carrot cake. Candy jelly beans brownie pudding pastry lemon drops croissant candy canes.
        Tootsie roll fruitcake jujubes apple pie dragée lemon drops donut gummi bears sesame snaps.
      </p>

      <br>
      <p>
        Apple pie cookie icing marzipan carrot cake. Candy jelly beans brownie pudding pastry lemon drops croissant candy canes.
        Tootsie roll fruitcake jujubes apple pie dragée lemon drops donut gummi bears sesame snaps.
      </p>
      
    </div>
  </div>
</div>