<p>
  parent works!
</p>

<mat-form-field>
  <mat-select placeholder="Size" [(ngModel)]="selectedValue" name="size">
    <mat-option *ngFor="let size of sizes" [value]="size.value" class="articles">
      {{ size.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Price" [(ngModel)]="selectedValue1" name="price">
    <mat-option *ngFor="let price of prices" [value]="price.value">
      {{ price.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>


<mat-form-field>
  <mat-select placeholder="Color" [(ngModel)]="selectedValue2" name="color">
    <mat-option *ngFor="let color of colors" [value]="color.value">
      {{ color.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>


<p> {{ selectedValue }} {{ selectedValue1 }} {{ selectedValue2 }}</p>

<app-enfant [productSize]="selectedValue" [productPrice]="selectedValue1" [productColor]="selectedValue2">
<!-- 	
	 [filterSize] = "selectedSize" -->
</app-enfant>


<!-- <h3> Test variable de ma SelectSize</h3>
<div> {{ selectedSize }} </div> -->
<!-- Comme filter vaut selected je l'écris directement dans l'enfant de l'html parent via [filterSize] = "" -->
<!-- <h3>Test input select défini SelectedSize </h3>
<div>
	
	<select [(ngModel)]="selectedSize">
		<option [(ngValue)]="s">s</option>
		<option [(ngValue)]="m">m</option>
		<option [(ngValue)]="l">l</option>
	</select>
</div> -->
